{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for recipe collections block.
 */
#}
{% block content %}
  {{ attach_library('umami/call-to-action') }}

  {{ parent() }}
{% endblock %}
