/**
 * @file
 * This file is used to style the 'field-ingredients' field.
 */

.field--name-field-ingredients-list {
  margin-bottom: 1.184rem;
  padding: 1.266rem;
  background-color: #fbf5ee;
}

.field--name-field-ingredients-list > .field__items > .field__item + .field__item {
  margin-top: 2rem;
}

.field--name-field-ingredients-list .field__label {
  margin: 0 0 0.6em 0;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid #eec2cb;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;
}

/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .field--name-field-ingredients-list .field__label {
    margin: 0 0 1.5em 0;
    font-size: 1.77rem;
  }
}

.field--name-field-ingredients-list .field--name-field-title {
  margin: 1em 0 0.6em;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid #eec2cb;
  font-size: 1.1rem;
  font-family: "Open Sans", Verdana, sans-serif;
  font-weight: bold;
}

/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .field--name-field-ingredients-list .field--name-field-title {
    font-size: 1.18rem;
  }
}

.field--name-field-ingredients .field__item {
  margin: 0 0 0.6em 0;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid #eec2cb;
  break-inside: avoid-column;
}
