/**
* @file
* This file is used to style the 'Card common alt' view mode.
*/

.node--view-mode-card-common-alt .node__title {
  margin-top: 1rem;
}

/* .field is needed to raise the specificity.  */
.node--view-mode-card-common-alt .field--name-field-media-image {
  margin-bottom: 0;
}

/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .node--view-mode-card-common-alt .node__content {
    order: -1;
  }
}
