/**
 * @file
 * This file is used to style the call to action block.
 */

.block-type-call-to-action-blok {
  margin: 2rem 1rem 3rem;
  text-align: center;
}

.block-type-call-to-action-blok a {
  display: inline-block;
  padding: 0.7em 1.3em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  background-color: #E84265;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.block-type-call-to-action-blok a:focus,
.block-type-call-to-action-blok a:hover {
  background-color: #00836D;
}
