/**
 * @file
 * This file is used to create a 2 column grid layout.
 */

.grid--2 .views-row {
  margin-bottom: 28px;
  padding: 0 14px;
}

@media screen and (min-width: 30em) {
  /*
    @TODO 5 feb 2020
      This code is commented because it fixes the overflow bug on the
      box-shadow  of de blocks, but I'm not sure if it will break something else
      Therefore I want to keep this visible for a while.
  */
  /*.grid--2 {*/
  /*  overflow-x: hidden;*/
  /*}*/
  .grid--2 .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .grid--2 .views-row {
    display: flex;
    flex-basis: calc(50% - 28px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 14px 28px;
    padding: 0;
  }
}

/* 77em == the max width of .container + 1em either side */
@media screen and (min-width: 77em) {
  .grid--2 .view-content {
    margin-right: -14px;
    margin-left: -14px;
  }
}
