.maintenance-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.maintenance-container > * {
  align-self: center;
}

.maintenance-logo {
  margin-bottom: 1em;
  max-width: 20em;
}

.maintenance-content {
  background-color: var(--color-10);
  max-width: 40rem;
  padding: 2em;
  text-align: center;

}
