{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{{ attach_library('umami/maintenance')}}
{{ attach_library('umami/view-mode-card')}}

<div class="layout-container maintenance-container">
  <header>
    {% if logo %}
      <div class="maintenance-logo">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </div>
    {% elseif site_name %}
      <div class="maintenance-site-name">
        {{ site_name }}
      </div>
    {% endif %}
  </header>

  <main class="view-mode-card maintenance-content">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ page.content }}
  </main>
</div>
