/**
* @file
* This file is used to style the 'Card' view mode.
*/

.view-mode-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #fcece7;
}

.view-mode-card .node__title {
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 1;
}

.view-mode-card .field--name-title {
  text-decoration: none;
  color: #000;
  font-size: 1.424rem;
  font-weight: 400;
  word-wrap: break-word;
  word-break: break-word;
}

.view-mode-card .node__link {
  text-decoration: none;
  color: #000;
  background-color: inherit;
  transition: all 0.2s ease-out;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.view-mode-card .node__link:focus,
.view-mode-card .node__link:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Need to fix IE11 cards height issue */
.view-mode-card .node__content {
  flex-shrink: 0;
}

.view-mode-card .field--name-field-media-image {
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.view-mode-card .field--name-field-media-image img {
  display: block;
  width: 100%;
  transition: all 0.2s ease-out;
}

.view-mode-card .node__link:hover .field--name-field-media-image img {
  transform: scale(1.1) rotate(2deg);
}

.view-mode-card .label-items {
  margin-right: 1rem;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
  color: var(--color-5);
  font-size: 0.889rem;
}

.view-mode-card .label-items .field__label {
  padding-right: 0.3rem;
  font-weight: normal;
}

.view-mode-card .more-link {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: var(--color-2);
}
