/**
* @file
* This file is used to style the 'Card common' view mode.
*/

.node--view-mode-card-common .node__title {
  margin-top: 1rem;
}

.node--view-mode-card-common .more-link {
  margin-bottom: 1em;
}

/* .field is needed to raise the specificity.  */
.node--view-mode-card-common .field--name-field-media-image {
  margin-bottom: 0;
}
