/**
 * @file
 * This is the base CSS file, for styling elements.
 */

/* TODO use variables in all stylesheets */
:root {
  --color-1: #000000;
  --color-2: #00836D;
  --color-3: #464646;
  --color-4: #5F635D;
  --color-5: #787C75;
  --color-6: #79BD8F;
  --color-7: #E84265;
  --color-8: #FBF5EE;
  --color-9: #FF6138;
  --color-10: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin-top: 0; /* This allows us to ensure that items side-by-side line up nicely. */
}

*:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: #008068;
  outline-offset: 2px; /* Not supported in IE11 but greatly improves outline visibility in newer browsers. */
}

a {
  text-decoration: underline;
  color: #008068;
}
a:hover,
a:focus {
  color: #cc2a00;
  background-color: #e6eee0;
}

body {
  margin: 0;
  color: #464646;
  background: #fbf5ee;
  font-family: "Open Sans", Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  min-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

blockquote {
  margin: 0 0 1.28rem;
  padding: 1.5rem;
  background: #f4f2e9;
}
blockquote p:last-child {
  margin-bottom: 0;
}
/* Small */
@media screen and (min-width: 30rem) { /* 480px */
  blockquote {
    margin: 0 1.5rem 1.28rem;
    padding: 1.5rem;
  }
}
/* Medium */
@media screen and (min-width: 40rem) { /* 640px */
  blockquote {
    margin: 0 2.5rem 1.28rem;
    padding: 3rem;
  }
}
blockquote > * {
  color: #000;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;
  line-height: 1.5;
}
blockquote a {
  /* Tweak default link colour to improve contrast for accessibility */
  color: #057d6d;
}
blockquote a:hover,
blockquote a:focus {
  background-color: #fdfcf9;
}

button,
.button,
.button[type="submit"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  min-width: inherit;
  max-width: inherit;
  margin: 0;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #008068;
  border-radius: 3px;
  background-color: #008068;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.2rem;
}
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
  transition: background-color 0.5s ease;
  text-decoration: none;
  color: #000;
  background-color: #e6eee0;
}
button[disabled]:hover,
button[disabled]:active,
button[disabled]:focus,
button[disabled],
.button[disabled]:hover,
.button[disabled]:active,
.button[disabled]:focus,
.button[disabled] {
  cursor: default;
  color: #464646;
  background: #767775;
}

h1 {
  margin: 0 0 1.07rem 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.424rem; /* +3 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h1 {
    font-size: 2.369rem;
  }
}

h2 {
  margin: 0 0 0.7rem 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;  /* +2 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h2 {
    font-size: 1.77rem;
  }
}

h3 {
  margin: 0 0 0.96rem 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.125rem;
  line-height: 1.2;/* +1 based on 1.125 modular scale (major second) */
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  margin: 0 0 1.28rem 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 1rem;
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h4 {
    font-size: 1.33rem;
  }
}

h5 {
  margin: 0 0 1.28rem 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 0.889rem; /* -1 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  margin: 0 0 1.28rem 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 0.79rem; /* -1 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h6 {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.form-select {
  margin: 0.25rem 0;
  color: #000;
  border: 2px solid #767775;
  background: #fff;
  font-size: 1rem;
}

.form-select:focus {
  margin-bottom: 2px;
  border: 2px solid #00836d;
}

input {
  min-width: 100%;
  max-width: 100%;
  margin: 0.25rem 0;
  padding: 0.8rem 0.4rem;
  color: #000;
  border: 2px solid #767775;
  font-size: 1rem;
}
input:focus {
  border: 2px solid #008068;
}
input[type="checkbox"] {
  min-width: inherit;
  max-width: none;
}

textarea {
  padding: 0.8rem 0.4rem;
  color: #000;
  border: 2px solid #767775;
}
textarea:focus {
  border: 2px solid #008068;
}

label {
  display: block;
  margin: 0.25rem 0;
  color: #464646;
  font-size: 1rem;
  font-weight: 700;
}

ul,
ol {
  margin-bottom: 1.28rem;
}
ol ol,
ol ul,
ul ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 1.28rem;
}
