/**
 * @file
 * This file is used to style the pager links.
 */

.pager__items {
  padding: 0 14px;
  justify-content: space-between;
}

.pager__item {
  display: none;
  background-color: var(--color-10);
  padding: 0;
}

.pager__item--previous,
.pager__item--next {
  display: inline-block;
}

.pager__item--next {
  margin-left: auto;
}

.pager__item--ellipsis {
  background-color: transparent;
  padding: 0.5em;
}

.pager__item a {
  display: block;
  padding: 0.5em 1em;
}

@media screen and (min-width: 40rem) { /* 640px */
  .pager__items {
    justify-content: center;
  }

  .pager__item {
    display: inline-block;
  }

  .pager__item + .pager__item {
    margin-left: 0.5em;
  }
}
