/**
 * @file
 * This file is used to style the more link.
 */

.more-link {
  text-align: left;
}

.more-link__label {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 20px; /* LTR */
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  background-color: inherit;
}
[dir=rtl] .more-link__label {
  padding-right: unset;
  padding-left: 20px;
}
.more-link__label:before {
  position: absolute;
  top: 50%;
  right: 0; /* LTR */
  width: 14px;
  height: 14px;
  margin-top: -7px;
  content: "";
  background-image: url("../../../../images/svg/pointer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
[dir=rtl] .more-link__label:before {
  right: unset;
  left: 0;
  transform: rotate(180deg);
}
