/**
 * @file
 * This file is used to high-level node styling. Individual view modes or
 * content types may override this.
 */

.node {
  background: #fff;
}

.node.node--unpublished {
  border: 2px dashed #da3c13;
}
