.views-exposed-form {
  margin: 0 14px 14px;
  background-color: var(--color-10);
  border: 1px solid var(--color-8);
}

@media screen and (min-width: 30rem) { /* 480px */
  .views-exposed-form {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 75rem) { /* 1200px */
  .views-exposed-form {
    margin-left: 0;
    margin-right: 0;
  }
}

.views-exposed-form .block__title {
  padding: 14px 1rem;
}

@media screen and (min-width: 48rem) { /* 768px */
  .views-exposed-form form {
    display: flex;
    flex-wrap: wrap;
  }
}

.views-exposed-form form > * {
  margin: 0 1rem 1rem;
  box-sizing: border-box;
}

@media screen and (min-width: 48rem) { /* 768px */
  .views-exposed-form form > :nth-child(even) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 75rem) { /* 1200px */
  .views-exposed-form form > :nth-child(n+2) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 48rem) { /* 768px */
  .views-exposed-form form > .form-item {
    flex-basis: calc(50% - 2rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 75rem) { /* 1200px */
  .views-exposed-form form > .form-item {
    flex-basis: calc(25% - 2rem);
  }
}

.views-exposed-form form > .form-actions {
  margin: -0.5rem 0.5rem 0.5rem;
  padding: 0;
}

@media screen and (min-width: 48rem) { /* 768px */
  .views-exposed-form form > .form-actions {
    width: 100%;
  }
}

.views-exposed-form input[type="radio"] {
  min-width: inherit;
  max-width: none;
}

.views-exposed-form .fieldset-wrapper > .form-checkboxes {
  max-height: 250px;
  overflow: auto;
}
